img{
    height: 64px;
    width: 64px;
}
body{
    margin:20px;
    color: black;
}
#container{
    display: flex;
}
#searchDiv{
    margin: 20px;
}
.box{
    background-color: #e3e9e2;
    color: black;
    padding: 10px 40px;
    margin: 20px;
    width: 50vw;
}
#resetInfocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.reset{
    padding: 10px 40px;
    background-color: grey;
    margin-left: 10px;
    box-shadow: 1px 1px grey;
    color: white;
}
figure{
    margin: 0;
}
.media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border: 2px solid purple;
    background-color: white;
}
button{
    color: white;
    background-color:purple;
    border-color: purple;
}